// Colors
$white:                  #fff;
$gray-lighter:           #eee;

$gray-light:             darken($gray-lighter, 10%);
$gray:                   darken($gray-lighter, 67%);
$gray-dark:              darken($gray-lighter, 80%);
$gray-darker:            darken($gray-lighter, 87%);
$gray-base:              darken($gray-lighter, 100%);

// Border
$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;

// Main elements
$body-bg: $gray-lighter;


// Buttons
$brand-primary:         $gray;

@import "bootstrap";

div {
  display: block;
}
.col-center {
  margin: 0 auto;
  display: block;
}


.album-tile {
  margin: 0;
  padding: 0;
  width: 638px;
  height: 319px;
  position: relative;

  -webkit-box-shadow: 1px 1px 8px -1px $gray-light;
  -moz-box-shadow: 1px 1px 8px -1px $gray-light;
  box-shadow: 1px 1px 8px -1px $gray-light;

  .album-tile-image {
    float: left;
    img {
      width: 319px;
      height: 319px;
    }
  }

  .album-tile-info {
   position:relative;
   width: 299px;
   float: right;
   margin-right: 10px;

  }

  .album-tile-excerpt {
    margin-top: 10px;
  }

  .read-more {
    text-align: center;
    position: relative;
  }
}

.album-header {
  img {
    height: 500px;
    width: 500px;
    position: relative;
    margin: 0 auto;
    display: block;
  }

  h1, h2, h4 {
    text-align: center;
  }

  .album-header-description {
    max-width: 600px;
    position: relative;
    margin: 0 auto;
    display: block;
    text-align: justify;
    padding: 10px;
  }

  .font-icon {
    margin-top: 20px;
    text-align: center;
  }
}

.review-container {
  max-width: 600px;
  top-margin: 20px;
  text-align: center;
  position: relative;
  margin: 0 auto;

  .review-tile {
    position:relative;
    width: 600px;
    margin: 0 auto;
    display: block;
    margin: 10px;
    min-height: 150px;
    background-color: $white;
    overflow: hidden;

    .tag {
      float: right;
    }

    .body {
      font-size: 16px;
      padding: 10px;
      margin-right: 60px;
      max-width: 550px;
      float: left;
      word-wrap: break-word;
    }


  }

  .twitter-avatar {
    float: left;
    height: 70px;
    width: 70px;
  }
  .twitter-user {
    float: left;
  }

  input {
    width: 520px;
    font-size: 20px;
  }
  textarea {
    width: 520px;
    height: 400px;
    font-size: 20px;
  }

  .star-rating {
    font-size: 3em;
  }
}
